<style>
    .nodatatxt {
        position: absolute;
        top: 60px;
        opacity: 0.25;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
</style>
<div class="card">
    <div class="card-header">
        <b>Edit Page</b>
        <span style="float:right"><b>Date -</b> {{TodaysDate}}</span>
    </div>
    <div class="card-body">
        <form name="addMaterialForm">
            <div class="form-row">

                <div class="form-group col-md-4">
                    <label for="Title">Title</label> <span class="text-danger">*</span>
                    <input type="text" class="form-control" id="Title" name="Title" placeholder="Title"
                           ng-model="EditMaterial.PageHeader" required>

                </div>

                <div class="form-group col-md-4">
                    <label for="RetailRate">body</label> <span class="text-danger">*</span>
                    <input type="text" class="form-control" id="RetailRate" name="RetailRate" placeholder="Enter Retail Rate"
                           ng-model="EditMaterial.PageBody" required>

                </div>
            </div>
            <hr />
            <div class="form-row col-md-offset-5">
                <button type="button" class="btn btn-primary" ng-click="RedirectDashboard()"><span data-feather="arrow-left"></span> Back</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary" ng-click="UpdateMaterials(false)"><span data-feather="save"></span> Save</button>

            </div>
        </form>
    </div>
</div>

<html>
<head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <meta name="Robots" content="NOINDEX " />
</head>
<body>
</body>
<script type="text/javascript">
    feather.replace();
    var gearPage = document.getElementById('GearPage');
    if (null != gearPage) {
        gearPage.parentNode.removeChild(gearPage);
        document.title = "Error";
    }
</script>
</html>